<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4" >
        <form id="login-form" (ngSubmit)="login()">
          <ion-header>
            <ion-title>
              Login
            </ion-title>
          </ion-header>
          <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="text" [(ngModel)]="user.password" name="password"></ion-input>
          </ion-item>
          <ion-button color="light" type="submit" block>Login</ion-button>
          <p>Not a member? <a [routerLink]="['/register']" >Sign up</a></p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
