<ion-header>
  <ion-toolbar>
    <ion-title>Submit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="justify-content: center;" size="6" offset="3">
        <form #submitForm="ngForm" novalidate>
          <ion-header>
            <ion-title>
              Submit a memory
            </ion-title>
          </ion-header> 
          <ion-item>
              <ion-label>Message</ion-label>
              <ion-textarea required name="message" [(ngModel)]="message.messageText" aria-placeholder="Enter message here..."></ion-textarea>
          </ion-item>
          <ion-button ion-button (click)="submit(submitForm)" block>Submit</ion-button>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
